<!-- Pet Project -->
<section id="my-passions" class="text-center">

  <h2 class="mb-5 font-weight-bold">Pet projects</h2>

  <!--3 items -->
  <div class="row justify-content-around">

    <div class="col-md mb-5">

      <!-- Card -->
      <div class="card">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../../assets/files/snake_game.png"
            alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

          <!-- Title -->
          <h4 class="card-title">Snake multiplayer</h4>
          <!-- Text -->
          <p class="card-text">Recreate favorite well known game is always fun. Making it even better buy adding option to compete with friends is even more fun!
          </p>
          <!-- Button -->
          <a href="https://snake.mihajlosupic.com" class="btn btn-primary">Play</a>

        </div>

      </div>
      <!-- Card -->

    </div>

    <div class="col-md mb-5">

      <!-- Card -->
      <div class="card">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="../../assets/files/barbers.png"
            alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

          <!-- Title -->
          <h4 class="card-title">Barbers</h4>
          <!-- Text -->
          <p class="card-text">Handle closed customer circle for hairdressers. Current market offers various apps and web solutions to make appointment at any hairdressers salon.
          </p>
          <!-- Button -->
          <a href="!#" class="btn btn-primary">Go to</a>

        </div>

      </div>
      <!-- Card -->

    </div>

  </div>
  <!-- /3 items -->

</section>
<!-- /Pet Project -->

<hr class="my-5">