<div class="row bor">

  <!-- left -->
  <div class="col-md-6 bor">
    <div id="basic_info_wrap">
      <div class="row bor">
        <div class="col-sm-4 bor avatar">
            <img src="../../assets/images/avatar.jpg" class="" alt="Avatar image">
        </div>
        <div class="col-sm-8 bor">
          <div class="basic_details_wrap transparent">
              <ul class="list-group list-group-flush">
              <li class="list-group-item">Mihajlo Supić - Software Developer</li>
              <li class="list-group-item">email: mihajlosupic@gmail.com</li>
              <li class="list-group-item">phone: private</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row bor transparent">
        <div class="col-sm-12 bor">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Date of birth 10.06.1991</li>
                <li class="list-group-item">Sex: Male</li>
                <li class="list-group-item">Location: Serbia (Belgrade)</li>
                <li class="list-group-item">
                  <button class="btn btn-primary" routerLink="/cv">Download CV</button>
                </li>
              </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- rigth -->
  <div class="col-md-6 bor intro-text transparent">

    <div class="into-text-wrap">

      <h1 class="display-4">Dear Reader</h1>
      <p>Welcome to my web portfolio. My name is Mihajlo Supić and I am software developer.
        Most of my carrier I have been working on realtime chat servers in nodejs.
        Durring that time services, architecture ideas, scalability and various
        loggin problems were day to day challenges. At one point elixir seemed like great idea
        to switch on. That hit me back like a boomerang. In the mean time JS got into expansion
        and all over the sudden there were ES6, Typescript, Angular, React, RxJS and many more.
        I left previous company and started looking for oppurtinities but JS was too advanced to aim
        for senior positions. Since decission was made (get in touch with latest JS tecnologies) now I am
        learing latest Angular (Typescrypt and RxJS seem like a must here) so I could aim high again.
        <button routerLink="/about" type="button" class="btn btn-primary">Read more</button>
      </p>

    </div>
  </div>
</div>