/* Wrapper things */
.background-wrap {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-image: url("../../assets/images/it-cover-blur.jpg");
    background-color: #FFFFFF; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

#init-stage {
    margin-top:20px;
    padding: 0;
    width: 80%;
}

/* Paragraphs */
p { text-indent: 30px; }
.no-indent { text-indent: 0px;}
.intro-text { padding: 60px 0; }
.transparent { opacity: 0.8;}

.into-text-wrap {
    padding: 10px 20px;
    /* padding: 1000px 0; */
    background-color: #f8f9fa;
}

