<div class="row">
  <div class="col-md-12 pt-md-3">
      <h1 class="display-4">Dear Reader</h1>
      <p>Welcome to my web portfolio. My name is Mihajlo Supić and I am software developer.
        Most of my carrier I have been working on realtime chat servers in nodejs.
        Durring that time services, architecture ideas, scalability and various
        logging problems were day to day challenges. At one point elixir seemed like great idea
        to switch on. Spent some time in functional land and now I am moving back to JS.
      </p>

      <p>
        In my own time I like to take photos and learn about cars. Cars and photography are my two passions
        which I nurture the most. Always ready to take long debates on both topics. Additional and most
        important skill is cooking perfect sunny-side up eggs. My secret is...
        Contact me, maybe I'll tell you ;)
      </p>

      <p>
        This modest website is my way to introduce myself. Idea is to start with
        simple portfolio and then from time to time to introduce new fancy features.
        List of new features is waiting to be published, hold on :) In the mean time you can
        contact me on <a routerLink="/contact">contact page</a>.
      </p>
      <p class="no-indent">
        I wish you nice staying on my virtual pages.
      </p>

      <p class="no-indent">
        Regards,<br/>
        Mihajlo
      </p>
  </div>
</div>