<div class="containter background-wrap">

  <div class="container-fluid" id="init-stage">

      <div class="row bor">

        <!-- rigth -->
        <div class="col-md-12 bor intro-text transparent">

          <div class="into-text-wrap">
            <h1 class="display-4">Dear Reader</h1>
            <p>Welcome to my web portfolio. My name is Mihajlo Supić and I am software developer.
              Most of my carrier I have been working on realtime chat servers in nodejs.
              Durring that time services, architecture ideas, scalability and various
              loggin problems were day to day challenges. At one point elixir seemed like great idea
              to switch on. That hit me back like a boomerang. In the mean time JS got into expansion
              and all over the sudden there were ES6, Typescript, Angular, React, RxJS and many more.
              I left previous company and started looking for oppurtinities but JS was too advanced to aim
              for senior positions. Since decission was made (get in touch with latest JS tecnologies) now I am
              learing latest Angular (Typescrypt and RxJS seem like a must here) so I could aim high again.
            </p>

            <p>
              As times goes by I am becoming better every day but it would go much faster if I had senior advisor
              to put me up to speed. I am fast learner with a 5 years of experience in development. This little
              website will be my portfolie and little playground for demostrating things I learned before and
              to show off my current progress. Down bellow you can check out plan, on github you can check out my code
              and follow my progress. Feel free to browse arround and go a bit more into details of my proffesional grow and education.
            </p>
            <p class="no-indent">
              I wish you nice staying on my virtual pages.
            </p>

            <p class="no-indent">
              King Regards,<br/>
              Mihajlo Supić
            </p>

          </div>
      </div>
      </div>

  </div>

</div>