<div id="cwrap" class="container">
    <div class="row">
        <div class="col-sm-3 dev" id="roster">
          <div class="headers">Active users <b>({{active_users_count}})</b></div>
          <div id="list">
          <ul class="list-group">
            <!-- <li *ngFor="let item of users; let i = index">
              {{i}} {{item}}
            </li> -->
            <li class="list-group-item">Jovica</li>
            <li class="list-group-item active">Ivica</li>
            <li class="list-group-item">Marica</li>
            <li class="list-group-item">__fata__</li>
            <li class="list-group-item">sofere_trazim<3</li>
            <li class="list-group-item">Jovica</li>
            <li class="list-group-item">Ivica</li>
            <li class="list-group-item">Marica</li>
            <li class="list-group-item">__fata__</li>
            <li class="list-group-item">sofere_trazim<3</li>
            <li class="list-group-item">Jovica</li>
            <li class="list-group-item">Ivica</li>
            <li class="list-group-item">Marica</li>
            <li class="list-group-item">__fata__</li>
            <li class="list-group-item">sofere_trazim<3</li>
            <li class="list-group-item">Jovica</li>
            <li class="list-group-item">Ivica</li>
            <li class="list-group-item">Marica</li>
            <li class="list-group-item">__fata__</li>
            <li class="list-group-item">sofere_trazim<3</li>
            <li class="list-group-item">Jovica</li>
            <li class="list-group-item">Ivica</li>
            <li class="list-group-item">Marica</li>
            <li class="list-group-item">__fata__</li>
            <li class="list-group-item">sofere_trazim<3</li>
          </ul>
        </div>
        </div>
        <div class="col-sm-9 dev" id="chat">
            <div class="headers">
              <div class="img"> <img id="img_profile" src="../../assets/images/avatar.jpg" alt="Chat profile image">  </div>
              <div class="img">
                <div id="chat_nick">Ivica</div>
                <div id="presence">online</div>
              </div>
            </div>
            <div id="messages">
              <div class="msg_sender">
                <div class="msg_user">
                  <img class="msg_user_img" src="../../assets/images/avatar.jpg" alt="Chat message profile image">
                </div>
                <div class="msg_sender_text">
                  <p> This is my message text. :)This is my message text. :)This is my message text. :)This is my message text. :)</p>
                  <p> More text from me.</p>
                  <p> Thirst is a charm.</p>
                  <p> Off to work</p>
                </div>
              </div>
              <div class="msg_me">
                <div class="msg_user">
                  <img class="msg_user_img" src="../../assets/images/avatar.jpg" alt="Chat message profile image">
                </div>
                <div class="msg_me_text">
                  <p> This is my message text. :)</p>
                  <p> More text from me.</p>
                  <p> Thirst is a charm.</p>
                  <p> Off to work</p>
                </div>
              </div>
            </div>
            <div id="msg_input_wrap">
              <input type="text" placeholder="Type here..">
              <span><img src="../../assets/icons/chat_send_button.png" alt="Chat send button image"></span>
            </div>
        </div>
      </div>
</div>